extends layout.jade 
block internals
  div.content.answer-question.row
    div.question
    div.answers
  div.bottom-button-fill
  div.bottom-button-container
    button(class="answer-button bottom-button btn btn-primary btn-block btn-lg") Answer Question
