extends layout

block internals
  div.content.create-question
    div.question.form-group
      textarea(type="text", name="question", placeholder="Enter a question here...", class="question-field form-control input-lg", rows="3")
    div.answers.form-group
      input(type="text", name="answer[]", placeholder="Add an answer here...", class="answer-field form-control input-lg")  
    button#add-answer.btn.btn-lg.form-btn(type="text", name="addAnswer") Add Another Answer
 
  div.bottom-button-fill
  div.bottom-button-container
    button(class="create-question bottom-button btn btn-primary btn-block btn-lg") Create Question

